/* CSS for the banner */
    #banner {
      width: 100%;
      text-align: center;
    }

    #banner img {
      width: 100%;
      pointer-events: none
    }

    /* CSS for the navigation bar */
    #navbar {
      display: flex;
      justify-content: center;
      background-color: #4da3b2;
      font: arial;
    }

    #navbar a {
      color: white;
      text-decoration: none;
      padding: 14px 170px;
    }

    a.active {
      background-color: #c83c69; /* Set your desired background color */
      color: red; /* Set your desired text color */
    }
    

    /* CSS for the images */
    .images {
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
    }

    .images img {
      width: 45%;
      height: auto;

    }

.img {
  width: calc(50% - 10px); /* 50% of the container's width minus 10px for spacing */
  float: left; /* Float the images to the left for columns */
  margin: 5px; /* Add a margin of 5px around each image */
}

#body1 {
  font-family: "Arial Black", Arial, sans-serif;
  background-color:#4da3b2;
}

.midimg {
  width: 50%;



}

.container {
  display: flex;
  align-items: flex-start;
}

.column {
  flex: 1;
  padding: 10px;
}

.column img {
  max-width: 100%;
  height: auto;
}

.footertext {

  align-items: center;
  justify-content: center;
  
}

.footer-row {
  margin-left: 30%;
  padding: 10px;
}
